
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/build/

# IntelliJ
.idea/

# Dummy test playground
dummy.test.spec.ts

# Env vars
.env
